#logo {
    /*background-color: red;*/
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#logo > img {
    /*line-height: 2.5;*/
    border-radius: 50%;
}

#main, #header > .navbar > * {
    margin: 0 auto;
    width: 1280px;
}

#header > .navbar {
    height: 80px;
}
