{% extends 'applicantapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Удаление
                </div>
                <div class="card-body">
                    Уверены, что хотите удалить резюме <strong>{{ object.name }}</strong>?
                    <div class="button-items mt-3">
                        <form action="{% url 'resume:resume_delete' object.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger waves-effect waves-light">Удалить</button>
                            <button class="btn btn-danger waves-effect waves-light">
                                <a href="{% url 'applicant:view' %}">Отмена</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}