{% extends 'applicantapp/base.html' %}
{% load static %}

{% block content %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Мои избранные</h6>
        {% for item in favourites_list %}
            <div class="d-flex text-muted pt-3">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div>{{ item }}</div>
                </div>
            </div>
        {% empty %}
            <p class="lead pt-2">Пока нет избранных</p>
        {% endfor %}
    </div>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Мои резюме</h6>
           {% if not resume_list %}
            <p class="lead">Пока нет резюме</p>
           {% else %}
               <table id="datatable" class="table table-striped dt-responsive nowrap table-vertical" width="100%"
                      cellspacing="0">
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Название</th>
                       <th>Описание</th>
                       <th>Черновик</th>
                       <th>Действия</th>
                   </tr>
               </thead>
               <tbody>
                   {% for resume in resume_list %}
                       <tr>
                           <td>{{ resume.id }}</td>
                           <td>{{ resume.name }}</td>
                           <td>{{ resume.comment }}</td>
                           <td> {% if resume.is_draft %} Да {% else %} Нет {% endif %}</td>
                           <td>
                               <a href="{% url 'resume:resume_update' resume.pk %}">Редактировать</a>
                               <a href="{% url 'resume:resume_delete' resume.pk %}"
                                  class="text-muted">Удалить</a>
                           </td>
                       </tr>
                   {% endfor %}
               </tbody>
               </table>

        {% endif %}
        <a class="btn btn-outline-secondary" href="{% url 'resume:resume_create' %}">Создать резюме</a>
        </div>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Мои предложения</h6>
           {% if not pa_responces %}
            <p class="lead">Пока нет предложений</p>
           {% else %}
                {% for item in pa_proposal %}
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div>{{ item }}</div>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
        </div>
{% endblock %}
