{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card m-2 shadow-sm" style="">
        <!-- <img src="" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Новость первая</h5>
            <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            b5
        </div>
    </div>
    <div class="card m-2 shadow-sm" style="">
        <!-- <img src="" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Новость вторая</h5>
            <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            b5
        </div>
    </div>

    </div>
{% endblock %}